body
{
	margin-left:10px;
}
header
{
	padding:10px;
	padding-top:20px;
	margin-right:0px;
	border-bottom:.5px solid gray;
	margin-bottom:10px;
	text-align:right;
}
.contentcontainer
{
	/*=margin:0 auto;*/
	width:98%;
	margin-left:5px;
}
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
​.thumbnail.right-caption > h3{
	padding-top:2px;
	margin-top:0px;
}
h3{
	margin:0px;
	padding: 0px;
}