body
{
	margin-left:10px;
}
header
{
	padding:10px;
	padding-top:20px;
	margin-right:0px;
	border-bottom:.5px solid gray;
	margin-bottom:10px;
	text-align:right;
}
.contentcontainer
{
	/*=margin:0 auto;*/
	width:98%;
	margin-left:5px;
}